
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-detail {
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.tab-wrapper {
    width: 98%;
    font-size: 0.5rem;
}

.titles {
    display: flex;
    color: white;
}

.titles :nth-child(2) {
    text-align: center;
    width: 10%;
}

.titles :nth-child(3), .titles :nth-child(4) {
    text-align: center;
    width: 38%;
}

.titles :nth-child(5) {
    text-align: center;
    width: 10%;
}


.operations-wrapper {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}


@media screen and (min-width: 576px) {
    .tab-wrapper {
        width: 95%;
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 768px) {
    .tab-wrapper {
        width: 85%;
        font-size: 0.8rem;
    }
}

@media  screen and (min-width: 1043px) {
    .tab-wrapper {
        width: 80%;
        font-size: 0.8rem;
    }
}

@media  screen and (min-width: 1400px) {
    .tab-wrapper {
        width: 80%;
        font-size: unset
    }
}