.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title{
    text-align: center;
}


.visible {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 15px
}

.left-wrapper  {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 10px;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.name-button {
    width: 60%;
    height: 1.5rem;
    border-radius: 3px;
    border-color: #00bc77;
    border-width: 1px;
    color: #00bc77;
}

.name-input {
    height: 1.8rem;
    width: 80%;
    border-radius: 3px;
    border-style: none;
    padding-left: 4px;
}